<%= form_with(model: position_category) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :identificator %>
    <%= form.number_field :identificator, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :value %>
    <%= form.text_field :value, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, class: "form-control" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), position_categories_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to t("cancel"), position_category_path(@position_category), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
