<%= link_to "Project", projects_path, class: "hover:underline" %><br>

<%= link_to "Employee Groups", position_groups_path, class: "hover:underline" %><br>
<%= link_to "Employee Categories", position_categories_path, class: "hover:underline" %><br>
<%= link_to "Employee Classifications", position_classifications_path, class: "hover:underline" %><br>
<%= link_to "Employee Types", position_types_path, class: "hover:underline" %><br><BR>

<%= link_to "Employee Positions", @new_employee_positions_position_groups_path, class: "hover:underline" %><br>
<p class="text-xs fotn-light italic">/position_groups/:id/employee_positions/new</p>