<div id="<%= dom_id component %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= component.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Code</p>
    <%= component.code %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= component.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Budget</p>
    <%= component.budget %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Color</p>
    <%= component.color %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Status</p>
    <%= component.status %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Flag</p>
    <%= component.flag %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Parent</p>
    <%= component.parent_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= component.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Project</p>
    <%= component.project_id %>
  </div>
</div>
