<div id="<%= dom_id employee_position %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Identificator</p>
    <%= employee_position.identificator %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Group</p>
    <%= employee_position.group %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positioncategory</p>
    <%= employee_position.positionCategory %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positionclassification</p>
    <%= employee_position.positionClassification %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positiontype</p>
    <%= employee_position.positionType %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positioncostauto</p>
    <%= employee_position.positionCostAuto %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positioncostfixed</p>
    <%= employee_position.positionCostFixed %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positioncosdefiner</p>
    <%= employee_position.positionCosDefiner %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positiondescriptionauto</p>
    <%= employee_position.positionDescriptionAuto %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positiondescriptionfixed</p>
    <%= employee_position.positionDescriptionFixed %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positiondescriptiondefiner</p>
    <%= employee_position.positionDescriptionDefiner %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positionitem</p>
    <%= employee_position.positionItem %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Positioncost</p>
    <%= employee_position.positionCost %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Position group</p>
    <%= employee_position.position_group_id %>
  </div>
</div>
