<div id="<%= dom_id comment %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Parent</p>
    <%= comment.parent_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= comment.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Message</p>
    <%= comment.message %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Post</p>
    <%= comment.post_id %>
  </div>
</div>
