<%= content_for :title, "Position Groups" %>
<%= turbo_stream_from :position_groups %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Position Groups</h1>

      <div class="text-sm font-medium">
        <span class="text-gray-500">Sort by:</span>
        <%= sortable @position_groups, :identificator, "Identificator", class: "text-gray-700 mr-1" %>
        <%= sortable @position_groups, :name, "Name", class: "text-gray-700 mr-1" %>
        <%= sortable @position_groups, :description, "Description", class: "text-gray-700 mr-1" %>
        <%= sortable @position_groups, :value, "Value", class: "text-gray-700 mr-1" %>
        <%= sortable @position_groups, :account_id, "Account", class: "text-gray-700 mr-1" %>
      </div>
    </div>

    <%= link_to t("shared.scaffold.new.title", model: "Position Group"), new_position_group_path, class: "btn btn-white" %>
  </div>

  <%= tag.div id: ("position_groups" if first_page?), class: "bg-white rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "position_groups/index", collection: @position_groups, as: :position_group, cached: true %>

    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Position Group</p>
        <%= link_to t("shared.scaffold.new.title", model: "Position Group"), new_position_group_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
