<div id="<%= dom_id position_type %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Identificator</p>
    <%= position_type.identificator %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= position_type.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= position_type.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Value</p>
    <%= position_type.value %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= position_type.account_id %>
  </div>
</div>
