<%= content_for :title, "Position Types ##{@position_type.id}" %>
<%= turbo_stream_from @position_type %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Position Types", position_types_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Position Type #<%= @position_type.id %>
    </h1>
    <%= link_to t("edit"), edit_position_type_path(@position_type), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @position_type %>
  </div>
</div>
