<div id="<%= dom_id position_classification %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Identificator</p>
    <%= position_classification.identificator %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= position_classification.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= position_classification.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Value</p>
    <%= position_classification.value %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= position_classification.account_id %>
  </div>
</div>
