<%= content_for :title, "Position Classifications ##{@position_classification.id}" %>
<%= turbo_stream_from @position_classification %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Position Classifications", position_classifications_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Position Classification #<%= @position_classification.id %>
    </h1>
    <%= link_to t("edit"), edit_position_classification_path(@position_classification), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @position_classification %>
  </div>
</div>
