<div id="<%= dom_id activity %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= activity.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Code</p>
    <%= activity.code %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= activity.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Budget</p>
    <%= activity.budget %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Color</p>
    <%= activity.color %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Status</p>
    <%= activity.status %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Flag</p>
    <%= activity.flag %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Parent</p>
    <%= activity.parent_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= activity.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Component</p>
    <%= activity.component_id %>
  </div>
</div>
